<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>게임추천 API 연습</title>      
    </head>
    <body>
        <h1>게임추천 API 연습</h1>
        <form action="/search/local" method="get">
            <input name="searchLocal" placeholder="지역">
            <input name="searchHospital" placeholder="병원종류">
            <input id="searchBtn" type="submit" value="검색">
        </form>
    </body>
</html>